{# Azure Virtual Machine Terraform Template #}
{% set resource_group_ref = "azurerm_resource_group." + properties.ResourceGroup | replace('-', '_') + ".name" if not resource.skip_resource_group_creation else "\"" + properties.ResourceGroup + "\"" %}
{% set vnet_exists = properties.VNetExists | default('n') | lower %}
{% set subnet_exists = properties.SubnetExists | default('n') | lower %}
{% set nsg_exists = properties.NSGExists | default('n') | lower %}
{% set vnet_ref = properties.VNet %}
{% set subnet_ref = properties.Subnet %}
{% set nsg_ref = properties.NSG %}
{% if vnet_exists == 'y' %}
  {% set vnet_name_ref = "\"" + vnet_ref + "\"" %}
{% else %}
  {% set vnet_name_ref = "azurerm_virtual_network." + vnet_ref | replace('-', '_') + ".name" %}
{% endif %}
{% if subnet_exists == 'y' %}
  {% set subnet_id_ref = "\"" + subnet_ref + "\"" %}
{% else %}
  {% set subnet_id_ref = "azurerm_subnet." + subnet_ref | replace('-', '_') + ".id" %}
{% endif %}
resource "azurerm_network_interface" "{{ resource_name | replace('-', '_') }}_nic" {
  name                = "{{ resource_name }}-nic"
  location            = "{{ properties.Location }}"
  resource_group_name = {{ resource_group_ref }}

  ip_configuration {
    name                          = "internal"
    subnet_id                     = {{ subnet_id_ref }}
    private_ip_address_allocation = "Dynamic"
    {% if properties.AssignPublicIP | lower == 'true' %}
    public_ip_address_id          = azurerm_public_ip.{{ resource_name | replace('-', '_') }}_pip.id
    {% endif %}
  }
}

{% if properties.AssignPublicIP | lower == 'true' %}
resource "azurerm_public_ip" "{{ resource_name | replace('-', '_') }}_pip" {
  name                = "{{ resource_name }}-pip"
  location            = "{{ properties.Location }}"
  resource_group_name = {{ resource_group_ref }}
  allocation_method   = "Static"

  tags = {
    Environment = "{{ properties.Environment | default('') }}"
    Project     = "{{ properties.Project | default('') }}"
  }
}
{% endif %}

{% if properties.NSG %}
{% if nsg_exists == 'y' %}
  {% set nsg_id_ref = "\"" + nsg_ref + "\"" %}
{% else %}
  {% set nsg_id_ref = "azurerm_network_security_group." + nsg_ref | replace('-', '_') + ".id" %}
{% endif %}
resource "azurerm_network_interface_security_group_association" "{{ resource_name | replace('-', '_') }}" {
  network_interface_id      = azurerm_network_interface.{{ resource_name | replace('-', '_') }}_nic.id
  network_security_group_id = {{ nsg_id_ref }}
}
{% endif %}

resource "azurerm_{{ properties.OSType | lower }}_virtual_machine" "{{ resource_name | replace('-', '_') }}" {
  name                = "{{ resource_name }}"
  location            = "{{ properties.Location }}"
  resource_group_name = {{ resource_group_ref }}
  size                = "{{ properties.VMSize }}"
  admin_username      = "{{ properties.AdminUsername }}"

  network_interface_ids = [
    azurerm_network_interface.{{ resource_name | replace('-', '_') }}_nic.id,
  ]

  {% if properties.AuthenticationType == 'Password' %}
  admin_password                  = "{{ properties.AdminPassword }}"  # WARNING: Store in Key Vault in production
  disable_password_authentication = false
  {% else %}
  disable_password_authentication = true
  admin_ssh_key {
    username   = "{{ properties.AdminUsername }}"
    public_key = "{{ properties.SSHPublicKey }}"
  }
  {% endif %}

  os_disk {
    caching              = "ReadWrite"
    storage_account_type = "{{ properties.OSDiskType | default('Premium_LRS') }}"
    {% if properties.OSDiskSizeGB %}
    disk_size_gb         = {{ properties.OSDiskSizeGB }}
    {% endif %}
  }

  source_image_reference {
    publisher = "{{ properties.ImagePublisher }}"
    offer     = "{{ properties.ImageOffer }}"
    sku       = "{{ properties.ImageSKU }}"
    version   = "{{ properties.ImageVersion | default('latest') }}"
  }

  {% if properties.AvailabilityZone %}
  zone = "{{ properties.AvailabilityZone }}"
  {% endif %}

  tags = merge(
    {
      Name        = "{{ resource_name }}"
      Environment = "{{ properties.Environment | default('') }}"
      Project     = "{{ properties.Project | default('') }}"
    },
    {% if properties.Tags %}{{ properties.Tags | to_hcl_map }}{% else %}{}{% endif %}
  )
}

{% if properties.DataDisks %}
{% for disk in properties.DataDisks %}
resource "azurerm_managed_disk" "{{ resource_name | replace('-', '_') }}_disk_{{ loop.index }}" {
  name                 = "{{ resource_name }}-disk-{{ loop.index }}"
  location             = "{{ properties.Location }}"
  resource_group_name  = {{ resource_group_ref }}
  storage_account_type = "{{ disk.type | default('Premium_LRS') }}"
  create_option        = "Empty"
  disk_size_gb         = {{ disk.size_gb | default(32) }}

  {% if properties.AvailabilityZone %}
  zone = "{{ properties.AvailabilityZone }}"
  {% endif %}

  tags = merge(
    {
      Name        = "{{ resource_name }}-disk-{{ loop.index }}"
      Environment = "{{ properties.Environment | default('') }}"
      Project     = "{{ properties.Project | default('') }}"
    },
    {% if properties.Tags %}{{ properties.Tags | to_hcl_map }}{% else %}{}{% endif %}
  )
}

resource "azurerm_virtual_machine_data_disk_attachment" "{{ resource_name | replace('-', '_') }}_disk_attach_{{ loop.index }}" {
  managed_disk_id    = azurerm_managed_disk.{{ resource_name | replace('-', '_') }}_disk_{{ loop.index }}.id
  virtual_machine_id = azurerm_{{ properties.OSType | lower }}_virtual_machine.{{ resource_name | replace('-', '_') }}.id
  lun                = {{ loop.index0 }}
  caching            = "{{ disk.caching | default('ReadWrite') }}"
}
{% endfor %}
{% endif %}
