{# Azure Virtual Network Terraform Template #}
{% set safe_res_id = resource_name | safe_id %}
{% set resource_group_ref = properties | azure_rg_ref(resource) %}
resource "azurerm_virtual_network" "{{ safe_res_id }}" {
  name                = "{{ resource_name }}"
  location            = "{{ properties.Location }}"
  resource_group_name = {{ resource_group_ref }}
  address_space       = {{ properties.AddressSpace | tojson }}

  {% if properties.DnsServers %}
  dns_servers = {{ properties.DnsServers | tojson }}
  {% endif %}

  tags = merge(
    {
      Name        = "{{ resource_name }}"
      Environment = "{{ properties.Environment | default('') }}"
      Project     = "{{ properties.Project | default('') }}"
    },
    {% if properties.Tags %}{{ properties.Tags | to_hcl_map }}{% else %}{}{% endif %}
  )
}
